name: Run test case on npu
on:
  pull_request:
    branches:
    - master
    types: [ opened, synchronize, reopened ]
    # paths_ignore:
    # - /**/mlu/**
    # - /**/*mlu*
    # - /**/docs
    # - /**/ops
    # - /**/docker/**
    # - /**/*docker*
  push:
    branches:
    - develop
    - master
    # paths_ignore:
    # - /**/*mlu*/**
    # - /**/*mlu*
    # - /**/docs
    # - /**/ops
    # - /**/docker/**
    # - /**/*docker*
  workflow_dispatch:
env:
  XPU_GPRAH_PROXY: ${{ secrets.XPU_GPRAH_PROXY }}
defaults:
  run:
    shell: bash
jobs:
  run-tests:
    name: Run npu tests
    runs-on: NPU
    container:
      image: hub.byted.org/arnold/ascend_for_leo:3579b13e2a1ce9d478cee8f35f6ffe9f
      volumes:
      - /etc/localtime:/etc/localtime
      - /usr/local/Ascend/driver:/usr/local/Ascend/driver
      - /usr/local/dcmi:/usr/local/dcmi
      - /usr/local/bin/npu-smi:/usr/local/bin/npu-smi
      options: --privileged=true --ipc=host --pid=host --user root --shm-size=300g -e ASCEND_VISIBLE_DEIVCES=6 -e ASCEND_RT_VISIBLE_DEVICES=6
    steps:
    - uses: actions/checkout@v4
    - name: Running npu tests
      shell: bash
      run: |
        export HTTP_PROXY=${XPU_GPRAH_PROXY} HTTPS_PROXY=${XPU_GPRAH_PROXY}
        pip install -e '.[dev]'
        echo "Running npu tests..."
        python3 -m pytest --ignore=tests/mlu --ignore=tests/xpu_ops --ignore=tests/common/test_inference.py --cov=xpu_graph tests
    - uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        flags: npu
        name: npu-codecov
        fail_ci_if_error: true
        use_pypi: true
        verbose: true
