name: Run test case on npu
on:
  pull_request:
    branches:
    - master
    types: [ opened, synchronize, reopened ]
    paths-ignore:
    - 'docs/**'
    - 'doc/**'
    - 'README.md'
    - 'tests/*/**'
    - '!tests/common/**'
    - '!tests/npu/**'
    - 'xpu_graph/backends/*.py'
    - '!xpu_graph/backends/__init__.py'
    - '!xpu_graph/backends/npu.py'
    - 'xpu_graph/passes/patterns/targets/*/**'
    - '!xpu_graph/passes/patterns/targets/npu/**'
    - '.github/ISSUE_TEMPLATE/**'
    - '.github/workflows/ci-for-*.yml'
    - '!.github/workflows/ci-for-npu.yml'
  push:
    branches:
    - master
    paths-ignore:
    - 'docs/**'
    - 'doc/**'
    - 'README.md'
    - 'tests/*/**'
    - '!tests/common/**'
    - '!tests/npu/**'
    - 'xpu_graph/backends/*.py'
    - '!xpu_graph/backends/__init__.py'
    - '!xpu_graph/backends/npu.py'
    - 'xpu_graph/passes/patterns/targets/*/**'
    - '!xpu_graph/passes/patterns/targets/npu/**'
    - '.github/ISSUE_TEMPLATE/**'
    - '.github/workflows/ci-for-*.yml'
    - '!.github/workflows/ci-for-npu.yml'
  workflow_dispatch:
env:
  XPU_GPRAH_PROXY: ${{ secrets.XPU_GPRAH_PROXY }}
defaults:
  run:
    shell: bash
jobs:
  run-tests:
    name: Run npu tests
    runs-on: NPU
    container:
      image: hub.byted.org/aicompiler/npu.ci.debian12:cann8.2.rc1_py3.11_th26_ly
      volumes:
      - /etc/localtime:/etc/localtime
      - /usr/local/Ascend/driver:/usr/local/Ascend/driver
      - /usr/local/dcmi:/usr/local/dcmi
      - /usr/local/bin/npu-smi:/usr/local/bin/npu-smi
      options: --privileged=true --ipc=host --pid=host --user root --shm-size=300g -e ASCEND_VISIBLE_DEIVCES=6 -e ASCEND_RT_VISIBLE_DEVICES=6
    steps:
    - uses: actions/checkout@v4
    - name: Build And Install Wheel Artifact
      # WARNING(liuyuan): This step is goddamn important for us to keep the release artifact available.
      shell: bash
      run: |
        export HTTP_PROXY=${XPU_GPRAH_PROXY} HTTPS_PROXY=${XPU_GPRAH_PROXY}
        pip install -e '.[dev]'
        python3 -m build .
        pip install dist/*.whl --force-reinstall --no-deps
    - name: Running npu tests
      shell: bash
      run: |
        echo "Running npu tests..."
        python3 -m pytest --cov=xpu_graph --ignore=tests/common/test_inference.py tests/common tests/npu
    - uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        name: npu-codecov
        fail_ci_if_error: false
        use_pypi: true
        verbose: true
